---
import LegacyPage from '../../components/LegacyPage.astro';
import ProjectsSection from '../../components/ProjectsSection.astro';
import CommitteesSection from '../../components/CommitteesSection.astro';
import AwardsSection from '../../components/AwardsSection.astro';
import SeminarsSection from '../../components/SeminarsSection.astro';
import VideoSection from '../../components/VideoSection.astro';
import SponsorsSection from '../../components/SponsorsSection.astro';
const basePath = import.meta.env.BASE_URL;
---

<LegacyPage
  title="ECAM Forum 2024 | Projects, Committees and Awards"
  lang="en"
  description="Explore ECAM Forum 2024 featuring selected projects, industry committees, awards, and international co-production highlights."
  ogTitle="ECAM Forum 2024 | Edition highlights and selected projects"
  ogDescription="Discover key projects, awards, and activities from the 2024 ECAM Forum edition."
  ogUrl="https://ecamforum.es/en/forum-2024"
  ogImage="https://ecamforum.es/images/forum-share.jpg"
  loadLegacyInteractive={true}
  loadModernInteractive={false}
  pageId="forum-2024"
  currentRoute="/en/forum-2024"
  counterpartRoute="/forum-2024"
  footerLocale="en"
  hasLegacyProjectModal={true}
  hasProject2025Modal={false}
  hasNewsModal={false}
  hasSeminarModal={false}
>
  <ProjectsSection lang={"en"} pageId={"forum-2024"} />
  <CommitteesSection lang={"en"} pageId={"forum-2024"} />
  <AwardsSection lang={"en"} pageId={"forum-2024"} />
  <section id="seminarios">
        <div class="container">
            <div class="row row-intro">
                <div class="col-12">
                    <h3 class="tit-seccion rojo">SEMINARS <span class="azul">& CONVERSATIONS</span></h3>
                    <h4 class="subtit-seccion azul">NOWMENT</h4>
                    <h5 class="sub-subtit-seccion azul">ON CONTEMPORARY EVENTS AND AUDIOVISUAL CREATION</h5>
                    <p class="azul"><strong>Conferences: The present of interest / The NOWMENT of interest</strong><br>
                        Reflections on the commitment of audiovisual and culture to contemporary events so that those involved in the development of audiovisual projects stop to think to what extent contemporary production takes responsibility for the present and contributes to the configuration of an imaginary of the future for the current and future generations. A compass and guide to understand the world of the 21st century.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-azul">
                        <p class="tipo-evento">Conversations</p>
                        <div class="ponente_name rojo">Ernesto Castro <br>Nacho Vigalondo</div>
                        <img src={`${basePath}images/castro-vigalondo.png`} alt="Ponentes" class="ponente_img">
                        <div class="titulo">NOWMENT Hints</div>
                        <div class="fecha rojo">JUN 11/18 H.</div>
                        <div class="wrapper-cierre">
                            <div class="rojo">Cineteca Matadero <br>Sala Azcona</div>
                            <div class="wrapper-colaborador">
                                <p class="rojo mb-0">In collaboration with</p>
                                <img src={`${basePath}images/logo-dama_rojo.svg`} alt="DAMA" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-azul">
                        <p class="tipo-evento">Conversations</p>
                        <div class="ponente_name rojo">Elena Neira <br>Marta Peirano</div>
                        <img src={`${basePath}images/neira-peirano.png`} alt="Ponentes" class="ponente_img">
                        <div class="titulo">The times they are a NOWMENT</div>
                        <div class="fecha rojo">JUN 12/18 H.</div>
                        <div class="wrapper-cierre">
                            <div class="rojo">Cineteca Matadero <br>Sala Azcona</div>
                            <div class="wrapper-colaborador">
                                <p class="rojo mb-0">In collaboration with</p>
                                <img src={`${basePath}images/logo-dama_rojo.svg`} alt="DAMA" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-rojo">
                        <p class="tipo-evento">Seminar</p>
                        <div class="ponente_name azul">Ted Hope</div>
                        <img src={`${basePath}images/ted-hope-gr.jpg`} alt="Ponente" class="ponente_img">
                        <div class="titulo">The transformative moment is now</div>
                        <div class="fecha azul">JUN 13/10 H.</div>
                        <div class="wrapper-cierre">
                            <div class="azul">Cineteca Matadero <br>Sala Azcona</div>
                            <div class="wrapper-colaborador">
                                <p class="azul mb-0">In collaboration with</p>
                                <img src={`${basePath}images/logo-dama_azul.svg`} alt="DAMA" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-rojo">
                        <p class="tipo-evento">Seminar</p>
                        <div class="ponente_name azul">Hélène Louvart</div>
                        <img src={`${basePath}images/helene-louvart-gr.jpg`} alt="Ponente" class="ponente_img">
                        <div class="titulo">Give the NOWMENT a chance</div>
                        <div class="fecha azul">JUN 14/17 H.</div>
                        <div class="wrapper-cierre">
                            <div class="azul">Caixa Forum</div>
                            <div class="wrapper-colaborador">
                                <p class="azul mb-0">In collaboration with</p>
                                <img src={`${basePath}images/logo-30-aec_azul.png`} alt="AEC" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <VideoSection lang={"en"} pageId={"forum-2024"} />
  <SponsorsSection lang={"en"} />
</LegacyPage>
