---
import LegacyPage from '../components/LegacyPage.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import CommitteesSection from '../components/CommitteesSection.astro';
import AwardsSection from '../components/AwardsSection.astro';
import VideoSection from '../components/VideoSection.astro';
import SponsorsSection from '../components/SponsorsSection.astro';
const basePath = import.meta.env.BASE_URL;
---

<LegacyPage
  title="ECAM Forum 2024 | Proyectos, comités y premios"
  lang="es"
  description="Revive ECAM Forum 2024 con proyectos seleccionados, comités, premios y contenidos clave del mercado internacional de coproducción."
  ogTitle="ECAM Forum 2024 | Edición y proyectos destacados"
  ogDescription="Conoce los proyectos, premios y actividades de la edición 2024 de ECAM Forum."
  ogUrl="https://ecamforum.es/forum-2024"
  ogImage="https://ecamforum.es/images/forum-share.jpg"
  loadLegacyInteractive={true}
  loadModernInteractive={false}
  pageId="forum-2024"
  currentRoute="/forum-2024"
  counterpartRoute="/en/forum-2024"
  footerLocale="es"
  hasLegacyProjectModal={true}
  hasProject2025Modal={false}
  hasNewsModal={false}
  hasSeminarModal={false}
>
  <ProjectsSection lang={"es"} pageId={"forum-2024"} />
  <CommitteesSection lang={"es"} pageId={"forum-2024"} />
  <AwardsSection lang={"es"} pageId={"forum-2024"} />
  <section id="seminarios">
        <div class="container">
            <div class="row row-intro">
                <div class="col-12">
                    <h3 class="tit-seccion rojo">SEMINARIOS <span class="azul">& CONVERSACIONES</span></h3>
                    <h4 class="subtit-seccion azul">NOWMENT</h4>
                    <h5 class="sub-subtit-seccion azul">SOBRE EL ACONTECER CONTEMPORÁNEO Y LA CREACIÓN AUDIOVISUAL</h5>
                    <p class="azul"><strong>Conferencias: El presente de interés / The NOWMENT of interest</strong><br>
                        Reflexiones sobre el compromiso del audiovisual y la cultura con el acontecer contemporáneo para que quienes están involucrados en el desarrollo de proyectos audiovisuales se detengan a pensar en qué medida la producción contemporánea se responsabiliza del presente y contribuye a la configuración de un imaginario de porvenir para las generaciones actuales y futuras. Una brújula y guía para entender el mundo del Siglo XXI.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-azul">
                        <p class="tipo-evento">Conversaciones</p>
                        <div class="ponente_name rojo">Ernesto Castro <br>Nacho Vigalondo</div>
                        <img src={`${basePath}images/castro-vigalondo.png`} alt="Ponentes" class="ponente_img">
                        <div class="titulo">Pistas del presentimiento</div>
                        <div class="fecha rojo">11 JUN/18 H.</div>
                        <div class="wrapper-cierre">
                            <div class="rojo">Cineteca Matadero <br>Sala Azcona</div>
                            <div class="wrapper-colaborador">
                                <p class="rojo mb-0">En colaboración con</p>
                                <img src={`${basePath}images/logo-dama_rojo.svg`} alt="DAMA" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-azul">
                        <p class="tipo-evento">Conversaciones</p>
                        <div class="ponente_name rojo">Elena Neira <br>Marta Peirano</div>
                        <img src={`${basePath}images/neira-peirano.png`} alt="Ponentes" class="ponente_img">
                        <div class="titulo">Los tiempos son el presente</div>
                        <div class="fecha rojo">12 JUN/18 H.</div>
                        <div class="wrapper-cierre">
                            <div class="rojo">Cineteca Matadero <br>Sala Azcona</div>
                            <div class="wrapper-colaborador">
                                <p class="rojo mb-0">En colaboración con</p>
                                <img src={`${basePath}images/logo-dama_rojo.svg`} alt="DAMA" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-rojo">
                        <p class="tipo-evento">Seminario</p>
                        <div class="ponente_name azul">Ted Hope</div>
                        <img src={`${basePath}images/ted-hope-gr.jpg`} alt="Ponente" class="ponente_img">
                        <div class="titulo">El momento transformador es ahora</div>
                        <div class="fecha azul">JUN 13/10 H.</div>
                        <div class="wrapper-cierre">
                            <div class="azul">Cineteca Matadero <br>Sala Azcona</div>
                            <div class="wrapper-colaborador">
                                <p class="azul mb-0">En colaboración con</p>
                                <img src={`${basePath}images/logo-dama_azul.svg`} alt="DAMA" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper-evento bg-rojo">
                        <p class="tipo-evento">Seminario</p>
                        <div class="ponente_name azul">Hélène Louvart</div>
                        <img src={`${basePath}images/helene-louvart-gr.jpg`} alt="Ponente" class="ponente_img">
                        <div class="titulo">Darle una oportunidad al presente</div>
                        <div class="fecha azul">JUN 14/17 H.</div>
                        <div class="wrapper-cierre">
                            <div class="azul">Caixa Forum</div>
                            <div class="wrapper-colaborador">
                                <p class="azul mb-0">En colaboración con</p>
                                <img src={`${basePath}images/logo-30-aec_azul.png`} alt="AEC" class="logo-colaborador">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <VideoSection lang={"es"} pageId={"forum-2024"} />
  <SponsorsSection lang={"es"} />
</LegacyPage>
